---
layout: none
sitemap:
    exclude: 'yes'
---
$lightGrey: #666666;

h2 {
    padding-bottom: 1.25rem;
}

body#default {
    div.logocontainer {
        padding: 2.5rem 0;

        text-align: center;
    }

    div.row {
        margin-bottom: 2rem;
    }

    div.contain-to-grid > div.row {
        height: 10rem;

        margin-bottom: 0px;
        padding: 10px 0px;

        color: #ffffff;
    }

    ul.sponsors li {
        padding: 0 1rem 1rem 0;
        
        a {
            display: block;
            
            width: 200px;
            height: 200px;
            line-height: 200px;
            
            text-align: center;
        }
    }
    
    ul.sponsors.onetime li a {
            height: 100px;
            line-height: 100px;
    }
}
