---
layout: default
title: Vienna PHP User Group
---
<div class="row">
    <div class="small-1 large-1 columns">&nbsp;</div>
    <div class="small-10 large-10 columns">
        <div id="anchor-viennaphp" class="logocontainer">
            <img class="logo" src="media/logo.jpg" />
        </div>
        <p>The Vienna PHP User Group is a usergroup which gathers like-minded developers on a regular basis. The idea is to get people to exchange ideas regarding PHP, Web- and Software development.</p>
     </div>
    <div class="small-1 large-1 columns">&nbsp;</div>
</div>
<div class="row">
    <div class="small-1 large-1 columns">&nbsp;</div>
    <div class="small-10 large-10 columns">
        <h2 id="anchor-next">Next Meetup "{{ site.data.meetup.title }}"</h2>
        <div class="panel callout radius">
            <h5>{{ site.data.meetup.date }}, {{ site.data.meetup.time }} at {{ site.data.meetup.location }}</h5>
            <p>{{ site.data.meetup.description }}</p>
            <ul class="circle">
                {% for agenda in site.data.meetup.agenda %}
                <li>"<strong>{{ agenda.title }}</strong>" by {{ agenda.speaker }}</li>
                {% endfor %}
            </ul>
            <p><strong><a href="{{ site.data.meetup.link }}" target="_blank">You should RSVP!</a></strong></p>
        </div>
     </div>
    <div class="small-1 large-1 columns">&nbsp;</div>
</div>
<div class="row">
    <div class="small-1 large-1 columns">&nbsp;</div>
    <div class="small-10 large-10 columns">
        <h2 id="anchor-next">Next Workshop "{{ site.data.workshop.title }}"</h2>
        <div class="panel callout radius">
            <h5>{{ site.data.workshop.date }}, {{ site.data.workshop.time }} at {{ site.data.workshop.location }}</h5>
            {% for item in site.data.workshop.description %}
            <p>{{ item }}</p>
            {% endfor %}
            <p>Your trainer will be: {{ site.data.workshop.trainer }}</p>
            <p><strong><a href="{{ site.data.workshop.link }}" target="_blank">You can RSVP now!</a></strong></p>
        </div>
     </div>
    <div class="small-1 large-1 columns">&nbsp;</div>
</div>
<div class="row">
    <div class="small-1 large-1 columns">&nbsp;</div>
    <div class="small-10 large-10 columns">
        <h2 id="anchor-about">About</h2>
        <p>We are developers and designers, entrepreneuers and employees, young and old, man and woman. We are people interested in PHP.</p>
        <p>The ViennaPHP usergroup meets every month to listen to talks about all things related to the PHP ecosystem. We discuss topics of interest, interact with each other and have fun. There is no dress code, no membership programm and no hidden agenda.</p>
        <p>
     </div>
    <div class="small-1 large-1 columns">&nbsp;</div>
</div>
<div class="row">
    <div class="small-1 large-1 columns">&nbsp;</div>
    <div class="small-10 large-10 columns">
        <h2 id="anchor-sponsors">Our awesome Sponsors!</h2>
        <p>For each and every metting, we find some great companies who give us some of their hard earned cash to buy some snacks and drinks for the audience. You should check them out!</p>
        <h3>All time sponsors</h3>
        <ul class="sponsors no-bullet clearfix">
            {% for sponsor in site.data.sponsors.alltime %}
            <li class="left">
                <a class="th radius" href="{{ sponsor.url }}" target="_blank">
                    <img src="media/sponsors/{{ sponsor.logo }}" alt="{{ sponsor.name }} logo" title="{{ sponsor.name }} logo">
                </a>
            </li>
            {% endfor %}
        </ul>
        <h3>Recurring sponsors</h3>
        <ul class="sponsors no-bullet clearfix">
            {% for sponsor in site.data.sponsors.recurring %}
            <li class="left">
                <a class="th radius" href="{{ sponsor.url }}" target="_blank">
                    <img src="media/sponsors/{{ sponsor.logo }}" alt="{{ sponsor.name }} logo" title="{{ sponsor.name }} logo">
                </a>
            </li>
            {% endfor %}
        </ul>
        <h3>One time sponsors</h3>
        <ul class="sponsors onetime no-bullet clearfix">
            {% for sponsor in site.data.sponsors.onetime %}
            <li class="left">
                <a class="th radius" href="{{ sponsor.url }}" target="_blank">
                    {% if sponsor.logo %}
                    <img src="media/sponsors/{{ sponsor.logo }}" alt="{{ sponsor.name }} logo" title="{{ sponsor.name }} logo">
                    {% else %}
                    <div class="fallback-image">
                        <span>{{ sponsor.name }}</span>
                    </div>
                    {% endif %}
                </a>
            </li>
            {% endfor %}
        </ul>
    </div>
    <div class="small-1 large-1 columns">&nbsp;</div>
</div>
<div class="row">
    <div class="small-1 large-1 columns">&nbsp;</div>
    <div class="small-10 large-10 columns">
        <h2 id="anchor-history">History</h2>
        <p>ViennaPHP was founded in April 2013 to correct the fact that there were many usergroups for PHP frameworks and CMS written in PHP but no PHP usergroup. Michael Nitschinger, who tried to set up ViennaPHP in the summer 2012 generously gave the domain and twitter account to Sebastian (Göttschkes), who set up a Meetup account and started thinking about how to get this thing going.</p>
        <p>The first meetups where done together with the symfony Usergroup and the Web Performance Usergroup. In August, only 5 people showed up to a meetup which had no agenda and no speakers. At this meetup, ways to improve the usergroup where discussed which led to many changes in the following weeks.</p>
        <p>In September 2013, the ViennaPHP met for the first time as a single usergroup with a full blown agenda, a new location and a sponsor. Until January 2014, meetups where held at various places each month and talks from international speakers like David Mytthon (CEO ServerDensity) or Freerich Bätghe (SensioLabs Germany) interested more and more people.</p>
        <p>In February 2014, ViennaPHP announced that Stockwerk CoWorking is their regular host from now on. At the same time, various collaborations with other Vienna usergroups where announced. In the following month, meetups with Drupal Austria, SilverStripe Austria, symfony Austria and the Web Performanc Usergroup were done. The growth continued and with over 50 people attending the meetups, more sponsors showed interest in the Usergroup.</p>
        <p>This story is far from over! We'll continue to host interesting meetups and grow the community we love!</p>
    </div>
    <div class="small-1 large-1 columns">&nbsp;</div>
</div>
<div class="row">
    <div class="small-1 large-1 columns">&nbsp;</div>
    <div class="small-10 large-10 columns">
        <h2 id="anchor-archive">Archive</h2>
        <h3>Recent newsletters:</h3>
        <ul>
            {% for page in site.pages %}
            {% if page.category == "email" %}
            <li><a href="{{ page.url }}">{{ page.title }}</a></li>
            {% endif %}
            {% endfor %}
        </ul>
    </div>
    <div class="small-1 large-1 columns">&nbsp;</div>
</div>
