<head>
    <title>{{ site.title }}</title>
            
    <meta charset="utf-8" />
    <meta name="robots" content="all" />

    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" type="text/css" media="screen" href="/css/normalize.css" />
    <link rel="stylesheet" type="text/css" media="screen" href="/css/foundation.min.css" />
    <link rel="stylesheet" type="text/css" media="screen" href="/css/main.css" />

    <script src="/js/vendor/modernizr.js"></script>

    <link rel="canonical" href="{{ page.url | prepend: site.url }}" />
</head>
